option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "backend.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "backend/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true